Repository finos/legend-studio, pull requests merged in 2023-06, with the labels that each got.

#2301 Add query testing
  .changeset/obscure-orioles-obliviate.md
  .changeset/spotty-deers-shout.md
  packages/legend-application-query/src/__lib__/LegendQueryTesting.ts
  packages/legend-application-query/src/components/QueryEditor.tsx
  packages/legend-application-query/src/components/__test-utils__/QueryEditorComponentTestUtils.tsx
  packages/legend-application-query/src/components/__tests__/QueryEditorQueryActions.test.tsx
  packages/legend-application-query/src/components/__tests__/TEST_DATA__QueryBuilder_ResultStateTest.ts
  packages/legend-application-query/src/index.ts
  packages/legend-query-builder/src/stores/QueryBuilderResultState.ts
  packages/legend-query-builder/src/stores/__tests__/QueryBuilderBuildLambdaRoundtrip.test.tsx
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__QueryBuilder_Generic.ts
Labels: Component: Query Builder, Application: Query, Component: Testing

#2303 Add platform configuration custom override option
  .changeset/western-wrens-whittle.md
  packages/legend-application-studio/src/components/editor/editor-group/project-configuration-editor/ProjectConfigurationEditor.tsx
  packages/legend-application-studio/src/stores/editor/editor-state/project-configuration-editor-state/ProjectConfigurationEditorState.ts
  packages/legend-application-studio/style/components/editor/_project-configuration-editor.scss
Labels: Application: Studio

#2079 Make filter and post-filter behavior clearer in query builder
  .changeset/scorched-storks-sonder.md
  .changeset/whistling-wrens-wander.md
  .changeset/wretched-woodpeckers-warn.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-art/src/panel/BlankPanelPlaceholder.tsx
  packages/legend-art/src/panel/PanelDropZone.tsx
  packages/legend-art/style/base/_common.scss
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderPostFilterPanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSPanel.tsx
  packages/legend-query-builder/src/components/filter/QueryBuilderFilterPanel.tsx
  packages/legend-query-builder/style/_query-builder-filter.scss
  packages/legend-query-builder/style/_query-builder-post-filter.scss
  packages/legend-query-builder/style/_query-builder-projection.scss
  packages/legend-query-builder/style/_query-builder.scss
Labels: Component: Query Builder, Component: UX/Design

#2302 misc. cleanup
  .changeset/beige-bluejays-beam.md
  .changeset/capricious-cranes-capitulate.md
  .changeset/orange-owls-orate.md
  .changeset/purple-penguins-plunge.md
  .changeset/six-worms-sparkle.md
  .changeset/timid-thrushes-testify.md
  packages/legend-application-pure-ide/src/components/panel-group/PanelGroup.tsx
  packages/legend-application-pure-ide/src/components/panel-group/TestRunnerPanel.tsx
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-application-query/src/components/QueryEditor.tsx
  packages/legend-application-query/style/_query-editor.scss
  packages/legend-application-studio/src/__lib__/LegendStudioTesting.ts
  packages/legend-application-studio/src/components/editor/ActivityBar.tsx
  packages/legend-application-studio/src/components/editor/editor-group/GenerationSpecificationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/INTERNAL__UnknownFunctionActivatorEdtior.tsx
  packages/legend-application-studio/src/components/editor/editor-group/ModelImporter.tsx
  packages/legend-application-studio/src/components/editor/editor-group/RuntimeEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/connection-editor/ConnectionEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/connection-editor/DatabaseBuilder.tsx
  packages/legend-application-studio/src/components/editor/editor-group/data-editor/DataElementEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/element-generation-editor/ElementXTGenerationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/element-generation-editor/FileSystemViewer.tsx
  packages/legend-application-studio/src/components/editor/editor-group/external-format-editor/DSL_ExternalFormat_SchemaSetModelGenerationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/EnumerationMappingEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/InstanceSetImplementationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/MappingExecutionBuilder.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/MappingTestsExplorer.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/OperationSetImplementationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/project-configuration-editor/ProjectConfigurationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/project-configuration-editor/ProjectDependencyEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/BulkServiceRegistrationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/ServiceEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/ServiceExecutionEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/testable/ServiceTestableEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/testable/TestableSharedComponents.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/AssociationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/ClassEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/EnumerationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/ProfileEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/PropertyEditor.tsx
  packages/legend-application-studio/src/components/editor/side-bar/SideBar.tsx
  packages/legend-application-studio/src/components/editor/side-bar/testable/GlobalTestRunner.tsx
  packages/legend-application-studio/src/stores/editor/EditorConfig.ts
  packages/legend-application-studio/style/components/editor/side-bar/_global_test_runner.scss
  packages/legend-art/src/panel/Panel.tsx
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/components/explorer/QueryBuilderExplorerPanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderFetchStructurePanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSWindowPanel.tsx
  packages/legend-query-builder/style/_query-builder.scss
Labels: Component: UX/Design

#2137 filter by multiple cell values in query results
  .changeset/azure-avians-actualize.md
  .changeset/daring-doves-dally.md
  .changeset/gallant-gulls-gerrymander.md
  .changeset/tidy-readers-compete.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-art/style/base/_variables.scss
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/stores/QueryBuilderResultState.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/post-filter/QueryBuilderPostFilterState.ts
  packages/legend-query-builder/style/_query-builder.scss
Labels: Component: Query Builder, Component: UX/Design

#2342 Allow is-in filter clause in query to read linebreak values
  .changeset/spicy-bags-work.md
  packages/legend-query-builder/src/components/__tests__/QueryBuilderFetchStructure.test.tsx
  packages/legend-query-builder/src/components/shared/BasicValueSpecificationEditor.tsx
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__QueryBuilder_Generic.ts
  packages/legend-query-builder/style/shared/_value-spec-editor.scss
Labels: Component: Query Builder, Component: UX/Design

#2329 text wrap option for code editor
  .changeset/curly-mayflies-move.md
  .changeset/galvanized-geese-gift.md
  .changeset/hesitant-hornbills-heal.md
  .changeset/riveting-rooks-rotate.md
  packages/legend-application-studio/src/components/editor/side-bar/testable/GlobalTestRunner.tsx
  packages/legend-application-studio/src/stores/LegendStudioApplicationPlugin.ts
  packages/legend-art/style/base/_panel.scss
  packages/legend-lego/src/code-editor/CodeEditor.tsx
  packages/legend-lego/style/_code-editor.scss
  packages/legend-query-builder/src/components/explorer/QueryBuilderMilestoningEditor.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSWindowPanel.tsx
  packages/legend-query-builder/style/shared/_value-spec-editor.scss
Labels: Application: Studio

#2321 Add extension mechanism for export other feature
  .changeset/ninety-horses-fry.md
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/components/QueryUsageViewer.tsx
  packages/legend-query-builder/src/stores/QueryBuilderResultState.ts
  packages/legend-query-builder/src/stores/QueryBuilder_LegendApplicationPlugin_Extension.ts
  packages/legend-query-builder/style/_query-builder.scss
Labels: Component: Query Builder

#2360 query filter & post-filter dropTargetConnector
  .changeset/pistachio-penguins-ponder.md
  .changeset/rare-ligers-march.md
  packages/legend-art/src/panel/PanelDropZone.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderPostFilterPanel.tsx
  packages/legend-query-builder/src/components/filter/QueryBuilderFilterPanel.tsx
Labels: Type: Bug, Component: Query Builder

#2362 parseDataType fix
  .changeset/funny-lobsters-yell.md
  packages/legend-graph/src/graph-manager/__tests__/ExecutionPlanRoundtrip.test.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/transformation/pureGraph/to/V1_ExecutionPlanBuilder.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/transformation/pureGraph/to/__tests__/V1_ValueSpecificationBuilder.test.ts
Labels: Type: Bug, Component: Query Builder

#2330 Limit DND rearrange option in query and misc. DND filter edits
  .changeset/blue-peas-heal.md
  .changeset/crested-crows-capitalize.md
  .changeset/fumbling-falcons-flop.md
  .changeset/quick-cats-agree.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-application-studio/src/components/editor/editor-group/FunctionEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/ClassEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/EnumerationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/ProfileEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/StereotypeSelector.tsx
  packages/legend-application-studio/src/components/editor/editor-group/uml-editor/TaggedValueEditor.tsx
  packages/legend-art/src/panel/BlankPanelPlaceholder.tsx
  packages/legend-art/src/panel/PanelDropZone.tsx
  packages/legend-art/style/base/_common.scss
  packages/legend-art/style/base/_panel.scss
  packages/legend-lego/src/application/TabManager.tsx
  packages/legend-query-builder/src/components/QueryBuilderPropertyExpressionEditor.tsx
  packages/legend-query-builder/src/components/explorer/QueryBuilderMilestoningEditor.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderPostFilterPanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSPanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSWindowPanel.tsx
  packages/legend-query-builder/src/components/filter/QueryBuilderFilterPanel.tsx
  packages/legend-query-builder/src/stores/fetch-structure/tds/QueryBuilderTDSState.ts
  packages/legend-query-builder/style/_query-builder-filter.scss
  packages/legend-query-builder/style/_query-builder-post-filter.scss
  packages/legend-query-builder/style/_query-builder-projection.scss
  packages/legend-query-builder/style/_query-builder.scss
Labels: Component: Query Builder, Component: UX/Design

#2378 query results table improvements
  .changeset/gold-coins-cheer.md
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/stores/QueryBuilderResultState.ts
Labels: Component: Query Builder

#1704 Fix clearing of compilation errors when we expand the lambda editor
  .changeset/chilly-tools-shout.md
  .changeset/unlucky-weeks-sip.md
  packages/legend-application-studio/src/components/editor/editor-group/FunctionEditor.tsx
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/ClassState.ts
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/FunctionEditorState.ts
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/mapping/DEPRECATED__MappingTestState.ts
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/mapping/FlatDataInstanceSetImplementationState.ts
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/mapping/PureInstanceSetImplementationState.ts
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/mapping/relational/RelationalInstanceSetImplementationState.ts
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/service/ServicePostValidationState.ts
  packages/legend-graph/src/graph-manager/action/EngineError.ts
  packages/legend-query-builder/src/components/shared/LambdaEditor.tsx
  packages/legend-query-builder/src/stores/fetch-structure/tds/projection/QueryBuilderProjectionColumnState.ts
  packages/legend-query-builder/src/stores/shared/LambdaEditorState.ts
Labels: cla-present, Studio Core Team

#2382 query filter ui edit
  .changeset/purple-pelicans-persuade.md
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderPostFilterPanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSPanel.tsx
  packages/legend-query-builder/src/components/filter/QueryBuilderFilterPanel.tsx
  packages/legend-query-builder/src/stores/fetch-structure/tds/QueryBuilderTDSState.ts
Labels: Component: Query Builder
