Repository finos/legend-studio, pull requests merged in 2023-05, with the labels that each got.

#2058 Make query loader interface consistent for various query workflows
  .changeset/beige-lamps-notice.md
  .changeset/cold-bees-pay.md
  .changeset/light-rabbits-arrive.md
  .changeset/loud-pets-clap.md
  .changeset/thick-pets-work.md
  .changeset/two-ties-fix.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-application-query/src/__lib__/LegendQueryEvent.ts
  packages/legend-application-query/src/__lib__/LegendQueryTelemetryHelper.ts
  packages/legend-application-query/src/__lib__/LegendQueryUserDataHelper.ts
  packages/legend-application-query/src/components/EditExistingQuerySetup.tsx
  packages/legend-application-query/src/components/QueryEditor.tsx
  packages/legend-application-query/src/components/QueryProductionizerSetup.tsx
  packages/legend-application-query/src/stores/EditExistingQuerySetupStore.ts
  packages/legend-application-query/src/stores/LegendQueryApplicationPlugin.ts
  packages/legend-application-query/src/stores/QueryEditorStore.ts
  packages/legend-application-query/src/stores/QueryProductionizerSetupStore.ts
  packages/legend-application-query/style/_query-editor.scss
  packages/legend-application-query/style/_query-setup.scss
  packages/legend-application-studio/src/__lib__/LegendStudioTelemetryHelper.ts
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/ServiceExecutionQueryEditor.tsx
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/service/ServiceExecutionState.ts
  packages/legend-application/src/__lib__/LegendApplicationEvent.ts
  packages/legend-application/src/__lib__/LegendApplicationTelemetry.ts
  packages/legend-application/src/index.ts
  packages/legend-application/src/stores/ApplicationStore.ts
  packages/legend-application/src/stores/UserDataService.ts
  packages/legend-art/src/icon/Icon.ts
  packages/legend-art/style/base/_normalize.scss
  packages/legend-extension-dsl-data-space/src/components/DSL_DataSpace_LegendApplicationPlugin.ts
  packages/legend-extension-dsl-data-space/src/components/DSL_DataSpace_LegendApplicationPlugin.tsx
  packages/legend-extension-dsl-data-space/src/components/query/DSL_DataSpace_LegendQueryApplicationPlugin.tsx
  packages/legend-extension-dsl-data-space/src/stores/DataSpaceLayoutState.ts
  packages/legend-graph/src/graph-manager/AbstractPureGraphManager.ts
  packages/legend-graph/src/graph-manager/action/query/Query.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/V1_PureGraphManager.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/engine/V1_Engine.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/engine/V1_EngineHelper.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/engine/V1_EngineServerClient.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/engine/query/V1_Query.ts
  packages/legend-query-builder/src/__lib__/QueryBuilderTelemetryHelper.ts
  packages/legend-query-builder/src/components/QueryLoader.tsx
  packages/legend-query-builder/src/components/shared/QueryBuilderPanelIssueCountBadge.tsx
  packages/legend-query-builder/src/index.ts
  packages/legend-query-builder/src/stores/QueryBuilder_LegendApplicationPlugin_Extension.ts
  packages/legend-query-builder/src/stores/QueryLoaderState.ts
  packages/legend-query-builder/style/_query-builder-projection.scss
  packages/legend-query-builder/style/index.scss
  packages/legend-query-builder/style/shared/_query-loader.scss
  packages/legend-shared/src/format/FormatterUtils.ts
  packages/legend-shared/src/format/__tests__/FormatterUtils.test.ts
Labels: Component: Query Builder, Application: Query, Component: UX/Design

#2189 query color styling fixes
  .changeset/mournful-doves-devour.md
  .changeset/wicked-cobras-fail.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderResultModifierPanel.tsx
  packages/legend-query-builder/style/_query-builder-graph-fetch-tree.scss
Labels: Application: Query, Component: UX/Design

#2171 Mapping editor color theme consistency
  .changeset/manipulative-magpies-manifest.md
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/MappingEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/MappingExecutionBuilder.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/MappingTestsExplorer.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/NewMappingElementModal.tsx
  packages/legend-application-studio/style/components/editor/_mapping-editor.scss
  packages/legend-application-studio/style/components/editor/_service-editor.scss
  packages/legend-application-studio/style/components/editor/mapping-editor/_source-panel.scss
Labels: Application: Studio, Component: UX/Design

#2181 Show executed sql in query results
  .changeset/baffled-budgies-battle.md
  .changeset/peckish-penguins-pester.md
  .changeset/prancing-parrots-ponder.md
  .changeset/scorched-seagulls-sweep.md
  .changeset/shy-moons-return.md
  .changeset/strange-songbirds-skedaddle.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-art/src/dialog/Modal.tsx
  packages/legend-art/src/icon/Icon.ts
  packages/legend-art/src/panel/Panel.tsx
  packages/legend-art/style/base/_panel.scss
  packages/legend-art/style/components/_selector-input.scss
  packages/legend-extension-dsl-service/src/components/query/ServiceRegisterModal.tsx
  packages/legend-extension-dsl-service/style/_service-register-modal.scss
  packages/legend-graph/src/graph-manager/action/execution/ExecutionResult.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/engine/execution/V1_ExecutionHelper.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/engine/execution/V1_ExecutionResult.ts
  packages/legend-graph/src/index.ts
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/components/execution-plan/ExecutionPlanViewer.tsx
  packages/legend-query-builder/style/_query-builder.scss
Labels: Component: Query Builder, Component: UX/Design

#2124 form viewer for sql execution node in query
  .changeset/jovial-jaybirds-jaunter.md
  .changeset/judicial-jays-judicate.md
  .changeset/meek-mockingbirds-minister.md
  .changeset/plentiful-pigeons-preen.md
  .changeset/shiny-rabbits-train.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-application-studio/src/components/editor/editor-group/connection-editor/DatabaseBuilder.tsx
  packages/legend-application-studio/src/components/editor/editor-group/connection-editor/DatabaseEditorHelper.tsx
  packages/legend-application-studio/src/components/editor/editor-group/mapping-editor/relational/TableOrViewSourceTree.tsx
  packages/legend-art/src/panel/Panel.tsx
  packages/legend-art/style/base/_panel.scss
  packages/legend-graph/src/graph-manager/protocol/pure/v1/transformation/pureGraph/from/executionPlan/V1_ExecutionPlanTransformer.ts
  packages/legend-graph/src/graph/helpers/STO_Relational_Helper.ts
  packages/legend-query-builder/src/components/execution-plan/SQLExecutionNodeViewer.tsx
  packages/legend-query-builder/style/_execution-plan-viewer.scss
  packages/legend-query-builder/style/_query-builder.scss
Labels: Type: Feature Request, Component: Query Builder

#2202 rename query fix
  .changeset/pondering-plovers-push.md
  .changeset/pragmatic-pelicans-perceive.md
  .changeset/red-robins-ramble.md
  .changeset/sour-scrubjays-shred.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-application-query/src/components/QueryEditor.tsx
  packages/legend-application-query/src/stores/QueryEditorStore.ts
  packages/legend-application-query/style/_query-editor.scss
  packages/legend-graph/src/graph-manager/action/query/QuerySearchSpecification.ts
  packages/legend-query-builder/src/stores/QueryLoaderState.ts
  packages/legend-query-builder/style/shared/_query-loader.scss
Labels: Type: Regression, Application: Query

#2214 Use previous calendar function parameter states when you change the calendar aggregation function
  .changeset/witty-rice-nail.md
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSPanel.tsx
Labels: Component: Query Builder

#2239 Add formatted SQL safeguard
  .changeset/silver-queens-invent.md
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/components/execution-plan/SQLExecutionNodeViewer.tsx
Labels: Component: Query Builder

#2218 Show only supported parameter or constant types in derived property editor
  .changeset/twenty-teachers-wonder.md
  packages/legend-query-builder/src/components/QueryBuilderPropertyExpressionEditor.tsx
  packages/legend-query-builder/src/components/__tests__/QueryBuilderDerivedPropertyEditor.test.tsx
  packages/legend-query-builder/src/components/__tests__/TEST_DATA__QueryBuilder_DerivedPropertyEditor.ts
  packages/legend-query-builder/src/components/__tests__/TEST_DATA__QueryBuilder_Model_SimpleRelational.json
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__ModelCoverageAnalysisResult.ts
Labels: Component: Query Builder

#2253 Support calendar aggregations for derivation columns
  .changeset/silver-ears-change.md
  packages/legend-query-builder/src/components/__tests__/QueryBuilderCalendar.test.tsx
  packages/legend-query-builder/src/graph-manager/protocol/pure/v1/V1_QueryValueSpecificationBuilderHelper.ts
  packages/legend-query-builder/src/stores/QueryBuilderStateBuilder.ts
  packages/legend-query-builder/src/stores/__tests__/QueryBuilderBuildLambdaRoundtrip.test.tsx
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__QueryBuilder_Calendar.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/QueryBuilderAggregateCalendarFunction.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunctionValueSpecificationBuilder.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Annualized.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Cme.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Cw.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Cw_Fm.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Cy_Minus2.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Cy_Minus3.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Mtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_P12Wa.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_P12Wtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_P4Wa.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_P4Wtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_P52Wa.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_P52Wtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pma.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pmtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pqtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_PriorDay.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_PriorYear.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pw.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pw_Fm.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pwa.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pwtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pymtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pyqtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pytd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pywa.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Pywtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Qtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_ReportEndDay.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Wtd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/aggregation/calendarFunctions/QueryBuilderAggregateCalendarFunction_Ytd.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/projection/QueryBuilderProjectionValueSpecificationBuilder.ts
Labels: Component: Query Builder

#2237 Support test data generation for services with parameters
  .changeset/dull-snails-sit.md
  .changeset/tricky-pigs-prove.md
  packages/legend-application-studio/src/application/LegendStudioApplicationConfig.ts
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/testable/ServiceTestDataEditor.tsx
  packages/legend-application-studio/src/stores/editor/editor-state/element-editor-state/service/testable/ServiceTestDataState.ts
  packages/legend-graph/src/graph-manager/AbstractPureGraphManager.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/V1_PureGraphManager.ts
Labels: Application: Studio, Extension: DSL Service
