Repository finos/legend-studio, pull requests merged in 2023-04, with the labels that each got.

#2056 Validation for query window function
  .changeset/tame-thrush-tarry.md
  packages/legend-query-builder/src/components/QueryBuilder.tsx
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/components/__tests__/QueryBuilderFetchStructure.test.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSWindowPanel.tsx
  packages/legend-query-builder/src/stores/fetch-structure/tds/window/QueryBuilderWindowState.ts
Labels: Component: Query Builder, Component: UX/Design

#1993 Dragging and Dropping of attributes enabled only when clicking on left-side icon
  .changeset/key-kingfishers-keep.md
  .changeset/perishing-penguins-pester.md
  .changeset/quiet-rice-grow.md
  packages/legend-application-query-bootstrap/style/index.scss
  packages/legend-application-studio/src/components/editor/edit-panel/FunctionEditor.tsx
  packages/legend-application-studio/src/components/editor/edit-panel/GenerationSpecificationEditor.tsx
  packages/legend-application-studio/src/components/editor/edit-panel/uml-editor/ClassEditor.tsx
  packages/legend-application-studio/src/components/editor/edit-panel/uml-editor/EnumerationEditor.tsx
  packages/legend-application-studio/src/components/editor/edit-panel/uml-editor/ProfileEditor.tsx
  packages/legend-application-studio/src/components/editor/edit-panel/uml-editor/StereotypeSelector.tsx
  packages/legend-application-studio/src/components/editor/edit-panel/uml-editor/TaggedValueEditor.tsx
  packages/legend-application-studio/style/components/editor/uml-editor/_class-editor.scss
  packages/legend-application-studio/style/components/editor/uml-editor/_uml-element-editor.scss
  packages/legend-art/src/components/panel/PanelDropZone.tsx
  packages/legend-art/style/base/_common.scss
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSPanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSWindowPanel.tsx
  packages/legend-query-builder/style/_query-builder-projection.scss
Labels: Application: Studio, Application: Query, Component: UX/Design

#2101 Add validation error for invalid olap column arrangement
  .changeset/ostentatious-owls-orate.md
  packages/legend-query-builder/src/components/QueryBuilderResultPanel.tsx
  packages/legend-query-builder/src/components/__tests__/QueryBuilderFetchStructure.test.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderFetchStructurePanel.tsx
  packages/legend-query-builder/src/components/fetch-structure/QueryBuilderTDSWindowPanel.tsx
  packages/legend-query-builder/src/stores/QueryBuilderState.ts
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__QueryBuilder_Generic.ts
  packages/legend-query-builder/src/stores/fetch-structure/QueryBuilderFetchStructureImplementationState.ts
  packages/legend-query-builder/src/stores/fetch-structure/graph-fetch/QueryBuilderGraphFetchTreeState.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/QueryBuilderTDSState.ts
  packages/legend-query-builder/src/stores/fetch-structure/tds/window/QueryBuilderWindowState.ts
Labels: Component: Query Builder, Component: UX/Design

#1989 use new depot apis
  .changeset/silver-weeks-lie.md
  .changeset/twelve-zebras-wave.md
  packages/legend-application-query/src/components/CloneQueryServiceSetup.tsx
  packages/legend-application-query/src/components/CreateMappingQuerySetup.tsx
  packages/legend-application-query/src/components/QuerySetup.tsx
  packages/legend-application-query/src/stores/CloneServiceQuerySetupStore.ts
  packages/legend-application-query/src/stores/CreateMappingQuerySetupStore.ts
  packages/legend-application-query/src/stores/LoadProjectServiceQuerySetupStore.ts
  packages/legend-application-query/src/stores/QueryEditorStore.ts
  packages/legend-application-query/src/stores/QueryProductionizerSetupStore.ts
  packages/legend-application-query/src/stores/UpdateExistingServiceQuerySetupStore.ts
  packages/legend-application-studio/src/components/editor/__test-utils__/EditorComponentTestUtils.tsx
  packages/legend-application-studio/src/components/editor/editor-group/__tests__/ProjectDependencyEditor.test.tsx
  packages/legend-application-studio/src/components/editor/editor-group/project-configuration-editor/ProjectConfigurationEditor.tsx
  packages/legend-application-studio/src/components/editor/editor-group/project-configuration-editor/ProjectDependencyEditor.tsx
  packages/legend-application-studio/src/stores/editor/DependencyProjectViewerHelper.ts
  packages/legend-application-studio/src/stores/editor/EditorGraphState.ts
  packages/legend-application-studio/src/stores/editor/__tests__/ProjectDependencyManager.test.ts
  packages/legend-application-studio/src/stores/editor/editor-state/project-configuration-editor-state/ProjectConfigurationEditorState.ts
  packages/legend-application-studio/src/stores/editor/sidebar-state/ProjectOverviewState.ts
  packages/legend-application-studio/src/stores/project-view/ProjectViewerStore.ts
  packages/legend-application-taxonomy/src/stores/LegendTaxonomyDataSpaceViewerHelper.ts
  packages/legend-application-taxonomy/src/stores/TaxonomyNodeViewerState.ts
  packages/legend-application-taxonomy/src/stores/data-space-preview/DataSpacePreviewStore.ts
  packages/legend-extension-dsl-data-space/src/graph-manager/action/analytics/DataSpaceAnalysisHelper.ts
  packages/legend-extension-dsl-data-space/src/stores/query/DataSpaceAdvancedSearchState.ts
  packages/legend-extension-dsl-service/src/components/query/DSL_Service_LegendQueryApplicationPlugin.tsx
  packages/legend-extension-dsl-service/src/components/studio/UpdateServiceQuerySetup.tsx
  packages/legend-extension-dsl-service/src/stores/studio/QueryProductionizerStore.ts
  packages/legend-extension-dsl-service/src/stores/studio/ServiceQueryEditorStore.ts
  packages/legend-extension-dsl-service/src/stores/studio/UpdateServiceQuerySetupStore.ts
  packages/legend-server-depot/src/DepotEntityHelper.ts
  packages/legend-server-depot/src/DepotServerClient.ts
  packages/legend-server-depot/src/DepotVersionAliases.ts
  packages/legend-server-depot/src/index.ts
  packages/legend-server-depot/src/models/StoreProjectData.ts
  packages/legend-server-depot/src/models/VersionedProjectData.ts
Labels: cla-present

#2086 Validation on constant and parameter names in query
  .changeset/jesting-jays-joke.md
  .changeset/raging-roadrunners-race.md
  .changeset/tenacious-terns-tarry.md
  .changeset/three-wolves-rule.md
  .changeset/vigilant-vultures-venerate.md
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/NewServiceModal.tsx
  packages/legend-application-studio/src/components/editor/editor-group/service-editor/ServiceEditor.tsx
  packages/legend-application-studio/style/components/editor/_service-editor.scss
  packages/legend-art/src/panel/Panel.tsx
  packages/legend-graph/src/graph-manager/action/validation/DSL_Service_ValidationHelper.ts
  packages/legend-graph/src/graph/MetaModelUtils.ts
  packages/legend-graph/src/graph/__tests__/IsValidIdentifier.test.ts
  packages/legend-query-builder/src/components/QueryBuilderConstantExpressionPanel.tsx
  packages/legend-query-builder/src/components/QueryBuilderParametersPanel.tsx
  packages/legend-query-builder/src/components/__tests__/QueryBuilderParametersPanel.test.tsx
Labels: Component: Query Builder, Component: UX/Design

#2148 Preserve query parameter state and query result state for unsupported…
  .changeset/cold-icons-unite.md
  packages/legend-query-builder/src/components/__tests__/QueryBuilderParametersPanel.test.tsx
  packages/legend-query-builder/src/components/__tests__/QueryBuilderResultPanel.test.ts
  packages/legend-query-builder/src/stores/QueryBuilderState.ts
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__QueryBuilder_Generic.ts
  packages/legend-query-builder/src/stores/__tests__/TEST_DATA__QueryBuilder_ResultStateTest.ts
Labels: Component: Query Builder

#2147 Fix: Allow complex properties in otherwise
  .changeset/good-wasps-sneeze.md
  .changeset/pleading-plovers-pilfer.md
  packages/legend-graph/src/graph-manager/__tests__/ImportResolutionRoundtrip.test.ts
  packages/legend-graph/src/graph-manager/__tests__/roundtripTestData/TEST_DATA__MappingRoundtrip.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/transformation/pureGraph/to/V1_PropertyMappingBuilder.ts
  packages/legend-graph/src/graph-manager/protocol/pure/v1/transformation/pureProtocol/serializationHelpers/V1_MappingSerializationHelper.ts
  packages/legend-shared/src/application/SerializationUtils.ts
Labels: Type: Bug
